<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <title>edit</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}" />
</head>
<style>
    html,
    body {
        height: 100%;
        overflow: hidden;
    }
</style>

<body>
    <p>
    <div>post route:</div><input id="posts_url" type="input" value="/posts/" style="width:100%;" /></p>
    <div id="test-editormd" onkeyup="edit()">
    </div>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
    <script type="text/javascript">
        var testEditor;
        var posts_url = document.getElementById('posts_url')
        $(function () {
            testEditor = editormd("test-editormd", {
                width: "100%",
                height: "100%",
                watch: false,
                toolbar: false,
                codeFold: true,
                searchReplace: true,
                placeholder: "Enjoy coding!",
                path: "{{ url_for('static',filename='editormd/lib/') }}"
            });
        });

        window.onload = function () {
            window.addEventListener('message', function (rs) {
                route = rs.data.split('posts', 2)[1]
                if (route) {
                    url = '/posts' + decodeURIComponent(route)
                    console.log('edit recive',url)
                    $.get("/get?url=" + url, function (data, status) {
                        testEditor.setValue(data.content)
                    });
                    posts_url.value = url
                }
            });
        }

        // function edit() {
        //     if (event.ctrlKey && event.shiftKey && window.event.keyCode == 83) {
        //         alert(testEditor.getValue());
        //         //todo 上传到文件中
        //     }
        // }

        function edit() {
            if (event.ctrlKey && window.event.keyCode == 13) {
                $.post("/post",
                    {
                        name: posts_url.value,
                        value: testEditor.getValue()
                    },
                    function (data, status) {
                        if (data['code'] == 200) {
                            testEditor.setValue(data.content)
                        }
                    });
            }
        }

    </script>

</body>

</html>