<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<style>
    * {
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-family: "微软雅黑";
        color: #666;
        border: none;
    }
</style>
<script>
    window.onload = function () {
        window.addEventListener('message', function (rs) {
            
            edit.postMessage(rs.data,"*");
            console.log('send',rs.data)
        });
    } 
</script>


<head>
    <frameset cols="25%,75%" frameborder="yes" border="5" framespacing="2" id="set" title="set" id="all">
        <frame src="http://localhost:5000/edit" frameborder="yes" name="edit" scrolling="auto" title="edit" />
        <frame src="http://localhost:1313/zh-cn/" frameborder="yes" name="show" scrolling="auto" title="show" />
    </frameset>
</head>

</html>