<!DOCTYPE html>
<html>
{% include head.html %}

<body>

    {% include header.html %}
    <div id="pageTop"></div>

    <div class="main">
        <div class="container">

            <div class="ui segment" id="codeByEuraxluo">
                <div class="right ui rail " id="needhidden">
                    <div class="ui sticky divided items sheet">
                        <!-- 博客简介 -->
                        <div class="side item">
                            <div class="content">
                                <div class="ui horizontal divider header">
                                    <!-- 链接到简历或者简介 -->
                                    <a class="header"
                                        href="{{'/resume/' | prepend: site.baseurl  | prepend: site.url}}">{{ site.title }}</a>
                                </div>
                                <div class="description">
                                    <p></p>
                                    <p>
                                        <!-- 头像 -->
                                        {% if site.sidebar-avatar %}
                                        <a href="{{ site.baseurl }}/resume/" class="ui small circular image">
                                            <img src="{{ '/wxtouxiang.png' | prepend: site.staticimg }}">
                                        </a>
                                        {% endif %}
                                    </p>

                                    <!-- 简介 -->
                                    {% if site.description %}
                                    <p>{{site.description}}</p>
                                    {% endif %}

                                    <!-- SNS Link -->
                                    <p class="ui large">
                                        <a class="ui image label" href="{{ site.baseurl }}/feed.xml">
                                            <i class="rss icon"></i>RSS
                                        </a>
                                        {% if site.github_username %}
                                        <a class="ui image label"
                                            href="https://github.com/{{ site.github_username }}">
                                            <i class="github icon"></i>Github
                                        </a>
                                        {% endif %}
                                    </p>


                                </div>
                            </div>

                        </div>
                        <!-- 文章分类 -->
                        <div class="side item ">
                            <div class="content">
                                <div class="header">
                                    <i class="fa fa-th-list"></i>
                                    分类
                                </div>
                                <div class="description">
                                    <ul class="content-ul" cate>
                                        {% for category in site.categories order:ascending %}
                                        <li>
                                            <a href="/category/#{{ category | first }}"
                                                class="categories-list-item" cate="{{ category | first }}">
                                                <span class="name">
                                                    {{ category | first }}
                                                </span>
                                                <span class="badge">{{ category | last | size }}</span>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- 标签云 -->
                        <div class="side item">
                            <div class="content">
                                <div class="header">
                                    <i class="fa fa-tags"></i>
                                    标签云
                                </div>
                                <div class=" tagcloud">
                                    <!--description-->
                                    {% for tag in site.tags %}
                                    <a href="{{ root_url }}{{ site.baseurl }}/tags/#{{ tag | first }}">{{ tag | first }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- 最近文章 -->
                        <div class="side item">
                            <div class="content">
                                <div class="header">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    最近文章
                                </div>
                                <div class="description">
                                    <ul class="content-ul" recent>
                                        {% for post in site.posts offset: 0 limit: 10  %}
                                        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {{ content }}
            </div>

        </div>
        <div class="page-scrollTop" data-toggle="tooltip" data-placement="top" title="Top">
            <a href="#pageTop">
                <div class="arrow"></div>
                <div class="stick"></div>
            </a>
        </div>
    </div>
    <script>
        $('.ui.sticky')
            .sticky({
                context: '#codeByEuraxluo',
                pushing: true
            })

        window.onload = function () {
            changeDivHeight();
        }
        //当浏览器窗口大小改变时，设置显示内容的高度
        window.onresize = function () {
            changeDivHeight();
        }
        function changeDivHeight() {
            var codeByEuraxluo = document.getElementById('codeByEuraxluo');
            var needhidden = document.getElementById('needhidden');
            if (codeByEuraxluo.scrollWidth + needhidden.scrollWidth + 250 > window.innerWidth || needhidden.scrollHeight > window.innerHeight) {
                needhidden.style.display = "none";
            } else needhidden.style.display = "block";
        }

    </script>
    {% include footer.html %}

</body>

</html>